@charset "ISO-8859-1";
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@media screen and (max-height: 450px) {
    .tabledata{tab-size: 15px;}
}
table, th{
    /* box-shadow: 0 8px 22px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
    box-shadow: 10px 20px 30px 0px white;
    border: 1px solid #004275;
    border-collapse: collapse;
    width: 300px;
    table-layout:fixed;
    height: 20px;
    /* padding-top: 102px; */
}
td{
    border: 1px solid  #004275 ;
    width: 300px;
    table-layout:fixed;
}
th{
    text-decoration: underline;
}
th, td {
    position: sticky;
    padding: 15px;
    text-align: center;
    color: #004275;
    /* word-wrap: initial; */
    table-layout:fixed;
}
table {
    border-spacing: 5px;
}
.tabledata table td .fa
{
	color:#004275;
}